@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Regular.ttf.woff2') format('woff2'),
         url('../fonts/SourceSansPro-Regular.otf.woff') format('woff'),
         url('../fonts/SourceSansPro-Regular.otf') format('opentype'),
         url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('../fonts/SourceSansPro-Bold.eot') format('embedded-opentype'),
         url('../fonts/SourceSansPro-Bold.ttf.woff2') format('woff2'),
         url('../fonts/SourceSansPro-Bold.otf.woff') format('woff'),
         url('../fonts/SourceSansPro-Bold.otf') format('opentype'),
         url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}

body {
    color: #fff;
    font-family: Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;

    .fonts-loaded & {
        font-family: 'Source Sans Pro', Arial, sans-serif;
    }
}

.card__heading {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.2;

    @media(min-width: 560px) {
        font-size: 2.25rem;
    }

    span {
        color: $pink;
        display: block;
        font-weight: 700;
    }

    .fonts-loaded & {
        font-family: 'Source Sans Pro', Arial, sans-serif;
    }
}

.card__content {
    p {
        line-height: 1.2;
        margin-bottom: .5rem;

        @media(min-width: 560px) {
            line-height: 1.4;
            margin-bottom: 1rem;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.list--none {
    list-style: none;
}

.card__number {
    position: absolute;
    top: 1.25rem; 
    left: 1.25rem;
    font-size: 2.25rem;
    font-weight: bold;

    &.card__number--purple {
        color: $purple;
    }

    &.card__number--pink {
        color: $pink;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
  }